@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue Sur MARVAPI </h1>
    <p>Ici vous pouvez visualiser votre avancée sur tous les films Marvel
    . Vous pouvez également recevoir des suggestions sur les films que vous préferez ! 
    </p>
<table style="text-align: left; width: 20; height: 20;" border="0" cellpadding="2" cellspacing="2">
<tbody>

<tr>
<td style="vertical-align: top;"> <a href="http://localhost:5001/A_Voir/Details/1"><img src="Iron-Man-2008.png.webp"alt="flex-end" class="d-block w-10"  width="200" height="300"><br></a>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/25"><img src="The-Incredible-Hulk-2008.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/24"><img src="Iron-Man-2-2010.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/23"><img src="Thor-2011.jpg" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/22"><img src="Captain-America-The-First-Avenger-2011.jpg" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/21"><img src="The-Avengers-2012.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
</tr>

<tr>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/20"><img src="Iron-Man-3-2013.png.webp"alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/19"><img src="Thor-The-Dark-World-2013.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/18"><img src="Captain-America-The-Winter-Soldier-2014.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/17"><img src="Guardians-of-the-Galaxy-2014.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/16"><img src="Avengers-Age-of-Ultron-2015.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/15"><img src="Ant-Man-2015.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
</tr>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/26"><img src="civilwar.png"alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/14"><img src="dstrange.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/12"><img src="guardiangal2.jpg" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/11"><img src="spiderman.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/10"><img src="thor3.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/9"><img src="blackpanther.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>

<tr>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/8"><img src="avengersinfwar.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/7"><img src="antman2.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top;"><a href="http://localhost:5001/A_Voir/Details/6"><img src="captainmarvel.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/5"><img src="avengerendgame.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/4"><img src="spiderman2.jpg" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/3"><img src="blackwidow.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
</tr>

<tr>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/2"><img src="shang-chi.png.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/13"><img src="eternel.jpg.png" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
<td style="vertical-align: top"><a href="http://localhost:5001/A_Voir/Details/27"><img src="spiderman3.webp" alt="flex-end" class="d-block w-10"  width="200" height="300"><br>
</td>
</tr>

</tbody>
</table>


</div>
