@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Edit";
}
<h4>Notez le film et mettez 1 dans Vu pour l'ajouter à votre avancée.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="Titre" type="hidden" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input asp-for="Datedesortie" type="hidden" class="form-control" />
                <span asp-validation-for="Datedesortie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Genre" type="hidden" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Phase" type="hidden" class="form-control" />
                <span asp-validation-for="Phase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vu" class="control-label"></label>
                <input asp-for="Vu" class="form-control" />
                <span asp-validation-for="Vu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
